@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700;800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');

body {
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    display: flex;
    flex-direction: column;
}

body,
.top {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

header,
.welcome,
.quote-container,
.bottom,
footer {
    display: flex;
    
}

header {
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 24px;
}


header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 32px;
    padding-right: 32px;
    margin: 0;
}

.welcome,
header,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.welcome {
justify-content: center;
padding: 50px;
}

.welcome-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 75px;
}


.welcome h1, p {
    margin: 16px 0;
}

.title h1 {
   font-size: 48px;
   font-weight: 900;
}

.title p {
    font-size: 18px;
}

.order-now, .sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: 0;
    padding: 8px 22px
}

.hero-img img {
    width: 275px;
}


.center {
    display: flex;
    justify-content: center;
    color: #1f2937;
    margin: 0;
    padding: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.information h1 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.card-box {
    border: solid 3px #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 700px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.citation {
    align-self: flex-end;
}
 
.bottom {
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 3%;
    width: 500px;
}

.cta h2, p {
    margin: 0;
}

.cta h2 {
    font-size: 22px;
}

.cta p {
    font-size: 18px;
}

.sign-up {
    border: #f9faf8 1px solid;
    flex-shrink: 0;
    width: auto;
    height: auto;
}


footer {
    justify-content: center;
   
}